.blog-post
  %h2.blog-post-title= link_to blog.title, blog
  %p.blog-post-meta
    Published #{distance_of_time_in_words blog.created_at, Time.now} ago
    = render partial: 'blogs/admin_actions', locals: { blog: blog }
    
  =markdown blog.body